@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Practica Zapatillas</h1>
    <a class="text-center btn btn-success" asp-action="VistaZapatillas" asp-controller="Zapatillas">INICIO</a>
</div>
