@model Zapatilla

@if (Model != null)
{
    <div class="card text-center">
      <div class="card-header">
        Nombre: @Model.Nombre
      </div>
      <div class="card-body">
        <h5 class="card-title">Descripcion</h5>
        <p class="card-text">@Model.Descripcion</p>
      </div>
      <div class="card-footer">
          <p>Precio: @Model.Precio</p>
      </div>
    </div>
    <hr />
    <div id="contenidoajax"></div>
}

@section Scripts {
    <script>
        $(document).ready(function() {
            var request = "/Zapatillas/_PaginadoPartial?idproducto=" + @Model.IdProducto + "&posicion=1";
            $("#contenidoajax").load(request);
        })

        function llamaPagina(posicion, idproducto){
            var request = "/Zapatillas/_PaginadoPartial?idproducto=" + idproducto + "&posicion=" + posicion;
            $("#contenidoajax").load(request);
        }
    </script>
}

